*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*.db
*.fs
*.fs.*
*.log
eggs
bin
parts
passwd
data
var
src
.installed.cfg
.mr.developer.cfg
develop-eggs
downloads
production/nginx
production/nginx.conf
